<table class="table listras hover mt-3 border" *ngIf="page">
    <thead>
        <tr class="table-header">
            <th>ID</th>
            <th>Nome</th>
            <th>Tipo Pessoa</th>
            <th>Tipo Documento</th>
            <th>Documento</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of page.content">
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.tipoPessoa }}</td>
            <td>{{ pessoa.tipoDocumento }}</td>
            <td>{{ pessoa | documento }}</td>
            <td><button class="btn__edit" routerLink="/pessoas/{{pessoa.id}}">Editar</button>
            </td>
        </tr>
    </tbody>
</table>

<app-pagination [page]="page" (eventEmitter)="trocarPagina($event)" *ngIf="page"></app-pagination>