.table-header {
    background-color: var(--gd-primary-color);
    color: white;
}

.btn__edit {
    cursor: pointer;
    border: none;
    background: none;
    color: var(--gd-primary-color);
}

.listras tr:nth-child(even) {
    background-color: #f2f2f2;
    border: #f8f8f8;
}

.listras tr:nth-child(odd) {
    border: #f8f8f8;
}

.hover tbody tr:hover td, .hover tbody tr:hover th {
    background-color: #dfdfdf;
}
