.logo {
    height: 75px;
}

li {
    display: flex;
    align-items: center;
}

li:hover {
    color: rgb(97, 156, 245)
}

i {
    margin-right: 0.5rem;
    font-size: 1.375rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(97, 156, 245);
}

.sub-itens {
    margin: 0.25rem 0;
}