$white: #fff;
$black: #000;
$body-color: #dfe5ea;
$border-color: #cacaca;
$dark-color: #202937;
$main-color: #3b82f6; // primary color of aura light theme blue

$background-color: #f4f4f4;
$card-color: #fafafa;

$blue-400: #007bff;
$blue-600: #1b76bd;
$blue-700: #0f67ab;
$blue-800: #0a5e9f;

$red-700: #e23636;
$red-800: #c11313;

$green-600: #2d9724;
$green-700: #098205;

$grey-300: #6c6c6c;
$grey-700: #3c3c3c;
