<h3>Listagem de Categorias</h3>
<hr>
<div class="mb-3">
  <button type="button" class="btn btn-success" [routerLink]="'cadastro'">Adicionar</button>
</div>

<p-table
  [(selection)]="selectedItems"
  styleClass="p-datatable-striped p-datatable-sm"
  *ngIf="categorias" [value]="categorias">

  <ng-template pTemplate="header">
    <tr class="table-header">
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="id">ID
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="nome">Nome
        <p-sortIcon field="nome"></p-sortIcon>
      </th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-categoria>
    <tr>
      <td>
        <p-tableCheckbox [value]="categoria"></p-tableCheckbox>
      </td>
      <td>{{ categoria.id }}</td>
      <td>{{ categoria.nome }}</td>
      <td>
        <button type="button" class="btn btn-sm btn-primary me-2" [routerLink]="['cadastro', categoria.id]">Editar
        </button>
        <button type="button" class="btn btn-sm btn-danger" (click)="excluir(categoria.id)">Excluir</button>
      </td>
    </tr>

  </ng-template>
</p-table>
<app-pagination [page]="page" (eventEmitter)="trocarPagina($event)" *ngIf="page"></app-pagination>
