<h3>{{ title }}</h3>
<hr>
<div>
  <button type="button" class="btn btn-secondary me-2" [routerLink]="'/despesas'">Voltar</button>
  <button type="button" class="btn btn-danger" (click)="excluir(formulario.get('id')?.value)">Excluir</button>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <div class="card">
      <form [formGroup]="formulario" class="card-body" *ngIf="formulario" (submit)="cadastrar()">

        <app-input-field
          formControlName="descricao"
          [control]="formulario.get('descricao')"
          [label]="'Descrição da despesa'"
        ></app-input-field>

        <app-input-field
          formControlName="valorGasto"
          [control]="formulario.get('valorGasto')"
          [label]="'Valor (R$)'"
        ></app-input-field>

        <div class="row mb-3">
          <label class="form-label">Credor da despesa</label>
          <div class="col-2">
            <input type="number" formControlName="credor" class="form-control"
                   (change)="buscarCredor(formulario.get('credor')?.value)">
          </div>
          <div class="col">
            <input type="text" [value]="credorNome" class="form-control">
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Data da despesa</label>
          <input formControlName="dataDespesa" type="date" class="form-control"/>

          <div class="mensagem__erro" *ngIf="formulario.get('dataDespesa')?.errors?.['required']
                            && formulario.get('dataDespesa')?.touched">
            O campo data da despesa é obrigatório!
          </div>
        </div>

        <fec-select-input
          formControlName="categoria"
          [label]="'Categoria'"
          [placeholder]="'Selecione uma categoria'"
          [key]="'id'"
          [expression]="'nome'"
          [control]="formulario.get('categoria')"
          [items]="(categorias$ | async)?.content!"
          (valueChange)="buscarSubcategorias(formulario.get('categoria')?.value)"
        ></fec-select-input>

        <fec-select-input
          formControlName="subcategoria"
          [label]="'Subcategoria'"
          [placeholder]="'Selecione uma subcategoria'"
          [key]="'id'"
          [expression]="'nome'"
          [control]="formulario.get('subcategoria')"
          [items]="subcategorias"
        ></fec-select-input>

        <button type="submit" class="btn btn-primary">{{ action }}</button>
      </form>
    </div>
  </div>
</div>
