<h3>{{ title }}</h3>
<hr>
<div>
  <button type="button" class="btn btn-secondary me-2" [routerLink]="'/subcategorias'">Voltar</button>
  <button type="button" class="btn btn-danger" (click)="excluir(formulario.get('id')?.value)">Excluir</button>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <div>
      <form [formGroup]="formulario" class="card-body" (submit)="salvar()" *ngIf="formulario">

        <app-input-field
          formControlName="nome"
          [label]="'Nome da Subcategoria'"
          [control]="formulario.get('nome')"
        ></app-input-field>

        <fec-select-input
          formControlName="categoria"
          [label]="'Categoria'"
          [items]="categorias"
          [key]="'id'"
          [expression]="'nome'"
          [placeholder]="'Selecione uma categoria...'"
          [control]="formulario.get('categoria')"
        ></fec-select-input>

        <button type="submit" class="btn btn-primary">{{ action }}</button>
      </form>
    </div>
  </div>
</div>
