.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 12px;
}

.input-control {

  input {
    width: 100%;
  }

}

.input-error {
  margin-top: 4px;
  font-size: 0.875rem;
  color: #E23636;
}

.has-error {
  border: 1px solid #E23636;
}

