<div style="display: flex; justify-content: space-between">
    <h3>Listagem de Despesas</h3>
    <hr>
    <div>
        <button pButton label="Novo" [routerLink]="'cadastro'"></button>
    </div>
</div>

<hr>

<p-table
  [(selection)]="selectedItems"
  styleClass="p-datatable-striped p-datatable-sm"
  *ngIf="despesas" [value]="despesas">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="id">ID
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th pSortableColumn="descricao">Descrição
        <p-sortIcon field="descricao"></p-sortIcon>
      </th>
      <th pSortableColumn="dataDespesa">Data da Despesa
        <p-sortIcon field="dataDespesa"></p-sortIcon>
      </th>
      <th pSortableColumn="valorGasto">Valor Gasto
        <p-sortIcon field="valorGasto"></p-sortIcon>
      </th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-despesa>
    <tr>
      <td>
        <p-tableCheckbox [value]="despesa"></p-tableCheckbox>
      </td>
      <td>{{ despesa.id }}</td>
      <td class="tx-principal-column">{{ despesa.descricao }}</td>
      <td>{{ despesa.dataDespesa | date:'dd/MM/yyyy' }}</td>
      <td>{{ despesa.valorGasto | currency:'BRL' }}</td>
      <td>
        <button type="button" class="btn btn-sm btn-primary me-2" [routerLink]="['cadastro', despesa.id]">Editar</button>
        <button type="button" class="btn btn-sm btn-danger">Excluir</button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-pagination [page]="page" (eventEmitter)="trocarPagina($event)" *ngIf="page"></app-pagination>
